body {

}

h1 {
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

#download {
  width: 320px;
  height: 480px;
  margin: 8px;
  padding: 12px;
  border-radius: 15px / 50px;
  background-color: blue;
}
